/*CSS reset settings here*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
#wrapper {
  width: 100%;
  background-color: silver;
  margin: 0px auto;
  padding: 10px;
}
#header {
  min-height: 150px;
  background-color: green;
  margin-bottom: 15px;
}
#navigation {
  min-height: 300px;
  width: 100%;
  display: block;
  vertical-align: top;
  background-color: blue;
}
#main_content {
  display: block;
  min-height: 400px;
  width: 100%;
  background-color: red;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
.subcontents {
  min-height: 200px;
  width: 100%;
  display: block;
  background-color: yellow;
  margin-top: 5px;
  margin-bottom: 5px;
}
#advertisement {
  min-height: 120px;
  width: 100%;
  background-color: purple;
  margin-top: 25px
}

@media only screen and (max-width: 480px) {
  #navigation {
    display: none;
  }
}
@media only screen and (min-width: 481px) {
  #navigation {
    display: none;
  }
  .subcontents {
    display: inline-block;
    width: 30%;
  }
}
@media only screen and (min-width: 1024px) {
  #navigation {
    display: inline-block;
    width: 30%;
  }
  #main_content {
    display: inline-block;
    width: 67%;
  }
}

